@import 'reset.scss';
@import 'vars.scss';
@import 'grid.scss';
@import 'typography.scss';

.hide-svg{
  height: 0;
}
.homepage-text{
  --bg-color: var(--grey);
  --text-color: var(--yellow);
  width: 100%;
  background: var(--bg-color);
  @include break(md){
    width: 50%;
    margin-left: 50%;
  }
  padding: 2rem 2rem;
}

.homepage-poster{
  position: relative;
  width: 100%;
  height: 120vw;
  background-color: var(--grey);
  @include break(md){
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50%;
    height: auto;
  }
  &__wordmark{
    width: 100%;
    z-index: 2;
    position: absolute;
    svg{
      width: 100%;
      padding: 2rem;
      height: auto;
      line{
        stroke: var(--yellow);
        transition: stroke-width 0.2s ease;
      }
      &:hover{
        cursor: pointer;
        line{
          stroke-width: 30px;
        }
      }
    }
  }
  &__lenticular{
      z-index: 1;
      position: absolute;
      width: 100%;
      height: 100%;
  }
  &__img{
      position: absolute;
      width: 100%;
      height: 100%;
      &:first-child{
      clip-path: url(#myClip);
      z-index: 5;
    }
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.footer-logo{
  display: inline-block;
  vertical-align: top;
  width: 150px;
  img{
    width: 100%;
    height: auto;
  }
}

