---
layout: base
---
<div class="grid-wrapper">

  <div class="homepage-poster">

    <div class="homepage-poster__wordmark">
      {% include "isf_wordmark.svg" %}
    </div>

    <div class="lenticular">
      {% for slide in homepage.speciesSlides -%}

        <div class="lenticular__slide lenticular__slide--{{loop.index}}">
        <style type="text/css">
          .lenticular__slide--{{loop.index}} img{ clip-path: url(#mask-{{loop.index}}); }
        </style>
        {% image slide.image.url, slide.image.alt, "(min-width: 750px) 50vw, 100vw", "" %}
        <svg class="lenticular-mask" width="0" height="0">
          <defs>
            <clipPath id="mask-{{loop.index}}" clipPathUnits="objectBoundingBox">
              {%- for i in range(0, 100) -%}
                <rect class="bar" width="1" height="0.01" y="{{ i * 0.01}}" />
              {%- endfor -%}
            </clipPath>
          </defs>
        </svg>
        </div>
      {% endfor %}
    </div>

  </div>

  <div class="homepage-content">

    <div class="homepage-text text-area sans-lg justify">
      {%- if homepage.intro %}
        {{ homepage.intro | richText | safe }}
      {% endif -%}
    </div>

    <div class="homepage-footer">

      <div class="subscribe-form text-area sans-md">
        <h2 class="upper">Subscribe</h2>
        <form class="text-area sans-md" name="Subscribe" method="POST" action="/success" aria-label="Sign Up" data-netlify="true">
          <label for="email">Email</label>
          <input class="signup-form__email" type="email" placeholder="Email" name="email" required/>
          <button class="signup-form__button" type="submit">Submit</button>
        </form>
      </div>

      {% for section in homepage.footer -%}
        <div class="homepage-footer__section text-area sans-md">
          <h2 class="homepage-footer__section-title upper">
            {{ section.title | safe }}
          </h2>
          {{ section.text | richText | safe }}
        </div>
      {% endfor %}

      <div class="homepage-footer__logos">
        {% image "./src/images/las_yellow.png", "Light Art Space Logo", "150px" %}
        {% image "./src/images/mfn_yellow.png", "Museum Für Naturkunde Logo", "150px" %}
      </div>

      {%- if homepage.copyright %}
      <div class="homepage-footer__copyright text-area sans-md">
        {{ homepage.copyright | safe }}
      </div>
      {% endif %}
    </div>

  </div>

</div>